.main {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 1rem;
  flex-shrink: 0;
}

.chatContainer {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

#pageTitle {
  padding-bottom: 5px;
}

.components {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.components > * {
  margin: 0 20px;
}

.diagonalLine {
  position: absolute;
  transform: skewY(-2.5deg);
  height: 200px;
  width: 100%;
  background: #e8f5ff;
  padding-top: 30px;
  margin-top: 50px;
}

.serverTitle {
  display: contents;
}

.serverTitleIcon {
  margin-left: 10px;
}
